* {
  font-family: 'space-bd-bt-bold', sans-serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box
}

body {
  background-image: url("../assets/earth_sunrise_from_space-wallpaper-2560x1440.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.picture-explanation-container {
  display: flex;
}

#picture {
  max-width: 50%;
  margin-right: 1rem;
  border: 5px solid white;
  margin-top: 25px;
}

#explanation {
  margin-top: 25px;
  letter-spacing: 0px;
  line-height: 20px;
}

#date { 
  color: black;
  
}

