* {
  font-family: 'space-bd-bt-bold', sans-serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box
}

body {
  background-image: url("../assets/earth_sunrise_from_space-wallpaper-2560x1440.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.picture-explanation-container {
  display: flex;
  margin-top: 25px;
}

#picture {
  width: 50%;
  margin-right: 1rem;
  /*border: 5px solid white;
  border-radius: 5px;*/
    border: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #d5853a, #3a7dd5);
 
}

#explanation {
  display: flex;
  align-items: center;
  color: black;
  letter-spacing: 0px;
  line-height: 20px;
  background-color: gray;
  opacity: .75;
}

#date { 
  color: black;
  
}

